.eintopf-hidden {
	display: none;
}

.eintopf-container {
	max-width: 100% !important;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.eintopf-header {
	background: black;
	padding: 0.5rem;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.eintopf-list {
	padding: 1rem;
	padding-bottom: 0.5rem;
}

.eintopf-tabs {
	display: flex;
	overflow-x: auto;
	height: 30px;
	margin-bottom: 20px;
	border-bottom: 1px solid black;
}

.eintopf-tab {
	white-space: nowrap;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
}

.eintopf-tab:hover {
	background-color: #e1e1e1;
}

.eintopf-tab.eintopf-active {
	background-color: black;
	color: white;
}

.eintopf-tab.eintopf-active:hover {
	background-color: black;
}

.eintopf-timetable {
	width: 100%;
}

.eintopf-timetable .col-all {
	width: 100% !important;
}

.eintopf-timetable .eintopf-places {
	display: none;
}

.eintopf-timetable .eintopf-times {
	display: none;
}

.eintopf-timetable .eintopf-events {
	width: 100%;
}

.eintopf-event {
	display: block;
	margin-bottom: 10px;
	padding-bottom: 8px;
	cursor: pointer;
	color: black;
	border-bottom: 1px solid #e1e1e1;
	text-decoration: none;
}

.eintopf-event:last-child {
	margin-bottom: 0;
	border-bottom: 0;
}

.eintopf-cols {
	display: flex;
}

.eintopf-cols .eintopf-left {
	margin-right: 8px;
	line-height: 1.2rem;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	color: #515151;
}

.eintopf-event h2 {
	margin-top: 0;
	margin-bottom: 0.1rem;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1.2rem;
	text-transform: uppercase;
	font-family: var(--wp--preset--font-family--system-font);
}

.eintopf-event.canceled h2 {
	text-decoration: line-through;
}

.eintopf-event .eintopf-info {
	font-size: 0.95rem;
	line-height: 1.15rem;
	display: block;
}
.eintopf-event .eintopf-description {
	display: none;
}

.eintopf-event.open .eintopf-more {
	display: block;
}

.eintopf-powered-by {
	box-sizing: border-box;
	width: 100%;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
	text-align: right;
}

@media only screen and (max-width: 700px) {
	.eintopf-timetable {
		/* Override inline css */
		height: auto !important;
	}
	.eintopf-event {
		/* Override inline css */
		height: auto !important;
	}
}

@media (min-width: 700px) {
	.eintopf-tabs {
		margin-left: 70px;
	}
	.eintopf-timetable.cols-5 .col {
		position: absolute;
		width: 20%;
	}
	.eintopf-timetable.cols-4 .col {
		position: absolute;
		width: 25%;
	}
	.eintopf-timetable.cols-3 .col {
		position: absolute;
		width: calc(100% / 3);
	}
	.eintopf-timetable .col-all {
		z-index: -1;
	}
	.eintopf-timetable.cols-5 .col-1 {
		left: 0;
	}
	.eintopf-timetable.cols-5 .col-2 {
		left: 20%;
	}
	.eintopf-timetable.cols-5 .col-3 {
		left: 40%;
	}
	.eintopf-timetable.cols-5 .col-4 {
		left: 60%;
	}
	.eintopf-timetable.cols-5 .col-5 {
		left: 80%;
	}

	.eintopf-timetable.cols-4 .col-1 {
		left: 0;
	}
	.eintopf-timetable.cols-4 .col-2 {
		left: 25%;
	}
	.eintopf-timetable.cols-4 .col-3 {
		left: 50%;
	}
	.eintopf-timetable.cols-4 .col-4 {
		left: 75%;
	}

	.eintopf-timetable.cols-3 .col-1 {
		left: 0;
	}
	.eintopf-timetable.cols-3 .col-2 {
		left: calc(100% / 3);
	}
	.eintopf-timetable.cols-3 .col-3 {
		left: calc(100% / 3 * 2);
	}

	.eintopf-places {
		display: block !important;
		box-sizing: border-box;
		position: relative;
		width: calc(100% - 70px);
		height: 30px;
		margin-left: 70px;
		font-size: 1.1rem;
		font-weight: 420;
		text-align: center;
	}

	.eintopf-times {
		position: relative;
		width: 70px;
		height: 100%;
		display: inline-block !important;
	}

	.eintopf-times div {
		position: absolute;
		width: 100%;
		text-align: center;
	}

	.eintopf-events {
		width: calc(100% - 70px) !important;
		height: auto;
		position: absolute;
		left: 70px;
		display: inline-block;
	}
	.eintopf-event {
		box-sizing: border-box;
		margin: 0;
		padding: 10px;

		overflow: hidden;
		color: black;
	}
	.eintopf-event.open {
		height: auto !important;
		z-index: 9999;
	}

	.eintopf-event h2 {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		/* number of lines to show */
		-webkit-box-orient: vertical;
	}

	.eintopf-event .eintopf-info {
		display: block;
	}
	.eintopf-event .eintopf-info.eintopf-more {
		display: none;
	}
	.eintopf-event.open .eintopf-info.eintopf-more {
		display: block;
	}
}
